version: '1'
services:
  web_testing:
    image: api_restx:1.0.0
    ports:
      - 5001:5001
    environment:
      - FLASK_RUN_HOST=0.0.0.0
      - FLASK_RUN_PORT=5001
    env_file: .env.test
    container_name: api_restx_test
    restart: always  